* {
  margin: 0px;
  padding: 0px;
}

nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  width: 100%;
  text-align: center;
}

.links {
  background-color:black;
  grid-column: span 3;
  align-self: center;
  width: 80%;
  justify-self: center;
}

nav a{
  color: white;
  font-size: 50px;
  text-decoration: none;
  margin: 10px 20px;

}  

nav img {
  grid-column: 5/6;
  width: 150px;
  margin: 10px;
}

body{
  background-color: gray;